.name-box {
    position: relative;
}

.name-box::before {
    content: 'WonJoon Choi';
    color: blue;
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    border: 3px solid blue;
    padding: 15px 30px 15px 40px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    z-index: 1;
}

.name-box::after {
    content: 'WonJoon Choi';
    color:rgba(0, 0, 0, 0);
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    border: 6px solid blue;
    padding: 15px 30px 15px 40px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;

    top: -115px;
    left: 25px;
}
